/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 91.2%;
  margin: 0 auto;
}

.banner {
  background-color: #38DEFE;
}

.banner-wrapper {
  padding: 310px 0 312px 5%;
  position: relative;
}
.banner-wrapper .attachment {
  position: absolute;
  bottom: -42px;
  left: 51.3%;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
}
.banner-wrapper .attachment-front {
  bottom: -125px;
  left: 65.5%;
}
.banner-wrapper .left-content {
  width: 46%;
}
.banner-wrapper .tag-line {
  margin: 18px 0;
  color: #fff;
  font-size: 25px;
  line-height: 1.5;
}
.banner-wrapper .tag-link {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #75E8FF;
}

.main-logo {
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
}

.banner-cta {
  margin-top: 30px;
}

.download-cta {
  width: 33.8%;
  padding: 15px 4%;
  border-radius: 25px;
  background-color: #3887ED;
  color: #fff;
  font-size: 17px;
}
.download-cta::before {
  content: "\f179";
  margin-right: 2%;
  font-family: "FontAwesome";
  float: left;
}

.service-container {
  padding-top: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.service-list {
  padding: 184px 1% 0;
  border-bottom: 2px solid #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  justify-content: space-between;
}

.service-content {
  margin-top: 38px;
  -ms-flex-preferred-size: 48.8%;
  flex-basis: 48.8%;
}
.service-content .main-heading {
  text-align: left;
}
.service-content .main-heading::after {
  content: "";
  width: 5%;
  padding: 1px;
  margin: 17px 0 22px;
  background-color: #3887ED;
}

.service-list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 31px;
  text-align: center;
  text-transform: capitalize;
}

.paragraph {
  color: #949595;
  font-size: 17px;
  line-height: 1.7;
}

.review {
  background-color: #F2F2F2;
}

.inner-wrapper {
  padding: 116px 0 132px;
}

.slider {
  width: 66.5%;
  margin: 79px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
}
.slider-list {
  display: none;
  text-align: center;
}
.slider-list-active {
  display: block;
}
.slider-attachment {
  width: 11.7%;
  margin: 0 auto;
}
.slider-image {
  border-radius: 50%;
}

.review-content {
  margin-top: 22px;
}
.review-content .paragraph {
  font-size: 18px;
  line-height: 1.8;
}

.review-heading {
  margin-bottom: 5px;
  color: #949595;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.review-rating {
  margin-bottom: 34px;
}

.rating-star {
  color: #D5D5D5;
  margin: 0 0.2%;
  display: inline-block;
  font-size: 12px;
  text-indent: -9999px;
}
.rating-star-active {
  color: #FBC23B;
}
.rating-star::before {
  content: "\f005";
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.slider-predict {
  width: 18%;
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
}

.slider-dot {
  margin: 0 5%;
  color: #D5D5D5;
  font-size: 12px;
  text-indent: -9999px;
}
.slider-dot::before {
  content: "\f111";
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

/*# sourceMappingURL=style.css.map */
