// color variables
$primary-color: #38DEFE;
$secondary-color: #F2F2F2;
$tertiary-color: #3887ED;
$tertiary-dark: #0050b8;
$text-color: #949595;
$yellow: #FBC23B;
$gray-light: #D5D5D5;
$gray-dark: #869690;
$primary-dark: #23879D;
$primary-light: #88ECFF;
$icon-bg-color: #EEEEEF;
$underline-color: #75E8FF;
$white: #fff;
$black: #000;
$shadow: 0 2px 14px rgb(0, 0, 0, .2);
$shadow-second: 0 -2px 14px rgb(0, 0, 0, .2);

// responsive devices breakpoints
$laptop : 1024px;
$tablet : 995px;
$iPad : 768px;
$mobile : 540px;
$iPhone : 375px;