// banner section started here
.banner { background-color: $primary-color; }

.banner-wrapper {
  padding: 310px 0 312px 5%;
  position: relative;

  .attachment {
    position: absolute;
    bottom: -42px;
    left: 51.3%;
    box-shadow: $shadow;

    &-front {
      bottom: -125px;
      left: 65.5%;
    }
  }

  .left-content { width: 46%; }

  .tag-line {
    margin: 18px 0;
    color: $white;
    @include fontProperty(null, 25px, null, null, 1.5);
  }

  .tag-link {
    color: $white;
    text-decoration: underline;
    text-decoration-color: $underline-color;
  }
}

.main-logo {
  color: $white;
  @include fontProperty(null, 38px);
  text-transform: uppercase;
}

.banner-cta { margin-top: 30px; }

.download-cta {
  width: 33.8%;
  padding: 15px 4%;
  border-radius: 25px;
  background-color: $tertiary-color;
  color: $white;
  @include fontProperty(null, 17px);

  &::before {
    content: '\f179';
    margin-right: 2%;
    @include fontProperty('FontAwesome');
    float: left;
  }
}
// banner section ends here
// service section ends here
.service-container {
  padding-top: 117px;
  @include flexBox(flex, null, null, column);
}

.service-list {
  padding: 184px 1% 0;
  border-bottom: 2px solid $secondary-color;
  @include flexBox(flex, null, center, null, null, space-between);
}

.service-content {
  margin-top: 38px;
  @include flexBasis(48.8%);

  .main-heading { text-align: left; }

  .main-heading::after {
    content: '';
    width: 5%;
    padding: 1px;
    margin: 17px 0 22px;
    background-color: $tertiary-color;
  }
}

.service-list-right { @include flexBox(flex, null, center, row-reverse); }

.main-heading {
  @include flexBox(flex, null, null, column);
  @include fontProperty(null, 31px);
  text-align: center;
  text-transform: capitalize;
}

.paragraph {
  color: $text-color;
  @include fontProperty(null, 17px, null, null, 1.7);
}
// service section ends here
// review section start here
.review { background-color: $secondary-color; }
.inner-wrapper { padding: 116px 0 132px; }

.slider {
  width: 66.5%;
  margin: 79px auto 0;
  @include flexBox(flex, null, center, column, null, center);

  &-list {
    display: none;
    text-align: center;

    &-active { display: block; }
  }

  &-attachment {
    width: 11.7%;
    margin: 0 auto;
  }

  &-image { border-radius: 50%; }
}

.review-content {
  margin-top: 22px;

  & .paragraph { @include fontProperty(null, 18px, null, null, 1.8); }
}

.review-heading {
  margin-bottom: 5px;
  color: $text-color;
  @include fontProperty(null, 13px, null, 600);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.review-rating { margin-bottom: 34px; }

.rating-star {
  color: $gray-light;
  margin: 0 0.2%;
  display: inline-block;
  @include fontProperty(null, 12px);
  text-indent: -9999px;

  &-active { color: $yellow; }

  &::before {
    content: '\f005';
    @include fontProperty('FontAwesome');
    float: left;
    text-indent: 0;
  }
}

.slider-predict {
  width: 18%;
  margin-top: 46px;
  @include flexBox(flex, null, center, null, null, center);
}

.slider-dot {
  margin: 0 5%;
  color: $gray-light;
  @include fontProperty(null, 12px);
  text-indent: -9999px;

  &::before {
    content: '\f111';
    @include fontProperty('FontAwesome');
    float: left;
    text-indent: 0;
  }
}
// review section ends here
// feature section start here
.feature-wrapper { padding-bottom: 118px; }

.feature .paragraph {
  width: 63.4%;
  margin: 32px auto;
  @include fontProperty(null, 17px);
  text-align: center;
}

.feature-container {
  margin-top: 72px;
  @include flexBox(flex, null, null, null, null, center);
}

.feature-list {
  padding: 10px;
  margin-right: 1.3%;
  @include flexBasis(22%);
  text-align: center;


  & .paragraph {
    width: 100%;
    margin: 0;
  }

  &:nth-child(1) .feature-heading::before {
    content: '\f10a';
    padding: 26px 12.4%;
  }

  &:nth-child(2) .feature-heading::before { content: '\f004'; }

  &:nth-child(3) .feature-heading::before {
    content: '\f005';
    padding: 26px 10.2%;
  }
  &:nth-child(4) .feature-heading::before {
    content: '\f013';
    padding: 26px 10.7%;
  }
}

.feature-heading {
  margin-bottom: 8px;
  @include flexBox(flex, null, center, column);
  @include fontProperty(null, 18px);
  text-transform: uppercase;

  &::before {
    padding: 26px;
    border-radius: 10px;
    margin-bottom: 42px;
    background-color: $icon-bg-color;
    color: $tertiary-color;
    @include fontProperty('FontAwesome', 42px);
    float: left;
  }
}
// feature section ends here